* { box-sizing: border-box; }

/*color palette*/

:root {
    --primary: rgb(222, 182, 182);
    --secondary: rgb(160, 183, 197);
    --tertiary: rgb(46, 52, 64);
    --dark: rgba(28, 29, 33, 1);
    --light: rgb(84, 156, 140);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
}

h2 { font-size: 45px; }

p { margin: 0 }

/* header section */

header {
    padding: 15px 6% 15px 0;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*box shadow: 0 5px 35px rgba(146, 204, 206, 0.4)*/
}

header h1 {
    color: var(--tertiary);
    background-color: var(--secondary);
    font-size: 4vw;
    line-height: 1;
    margin: 0;
    padding: 5px 1% 5px 6%;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: var(--secondary);
    padding: 15px 40px 0 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var (--secondary) 100%);
    background-size: 100% 0.2rem;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
}

nav a:last-child { margin-right: 0px; }

span {
    border-bottom: 3px solid;
    padding-bottom: 5px;
    
}
main {
    margin-top: 20px;
    margin-bottom: 45px;
}

/* hero section */

.hero-banner{
    background-image: url("../images/skyline.jpeg");
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    color: var(--light);
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.hero-banner div { flex: 0 0 90%; }

.hero-banner h2 {
    background-color: var(--secondary);
    color: var(--tertiary);
    margin: 0;
    padding: 5px 10px;
    font-size: 2.3rem;
    line-height: 1.2;
    display: inline;
}

.page-wrapper {
    max-width: 88%;
    margin-right: auto;
    margin-left: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
flex: 0 0 20%;
text-align: right;
padding-right: 15px;
border-right: 4px solid;
}

.page-section > div {
flex: 0 0 70%;
}

.page-section p {
    margin-bottom: 20px;
    font-size: 18px;
}

.page-section img {
    width: 15%;
}

/* bio image */

.image-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-flex > img { margin: 20px; }

/* portfolio grid section */

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(150px, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
}

.grid-item {
    border: 5px solid var(--secondary);
    grid-column:  span 4;
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 150px;
    background-size: 150%;
    display: flex;
    align-items: flex-end;
    padding:  0 0 20px 0;
    text-decoration: none;
    background-blend-mode: soft-light;
    transition: all 0.5s;
    font-size: 0.9rem;
}

/* feature first portfolio item */

.grid-item:first-child {
    grid-column: span 8;
    grid-row: span 2;
}

.grid-item:hover { background-color: rgba(0, 0, 0, 0.3); }

.grid-item div{
    background-color: var(--secondary);
    margin: 0;
    padding: 0 8px 15px 5px;
    line-height: .2;
    display: inline;
}

/*contact section */

.contact address {
    display: flex;
    justify-content: space-evenly;
    padding: 75px 0 0 0;
}

.contact address a {
    font-size: 25px;
    font-style: normal;
    color: var(--secondary);
    text-decoration: none;
    border-bottom: 3px solid;
}

.contact address a:hover { color: var(--primary); }

/* start portfolio project images */

.run-buddy { background-image: url("..//images/run.jpg"); }

.led-wall { background-image: url("..//images/ledwall.jpg"); }

.react-calc { background-image: url("..//images/calculator.jpg"); }

.pastel-puzzles { background-image: url("..//images/pastel.jpg"); }

.surf-report { background-image: url("..//images/wave.jpg"); }

/* end portfolio project images */

/*start media queries*/

 /* this will be applied on any screen smaller than 980px */
 
@media screen and (max-width: 980px) {
    span { border-bottom: 2px solid;
        padding-bottom: 0; }
    nav { padding-bottom: 5px; }
    .image-flex p { padding: 11px;}
    .image-flex img { margin: 0px; }
    h2 { font-size: 32px; }
}
/* this will be applied on any screen smaller than 768px */

@media screen and (max-width: 768px) {
    .image-flex { flex-direction: column; } 
    .image-flex > img { width: 20%; }
    .hero-banner h2 { font-size: 1.5rem;}
    span { border-bottom: 2px solid;
        padding-bottom: 0; } 
    nav { padding-bottom: 3px;}
    h2 { font-size: 28px; }
}
/* this will be applied on any screen smaller than 575px */

@media screen and (max-width: 575px) {
    .page-section { flex-wrap: nowrap; }
    .image-flex > p { padding-left: 10px; }
    .contact address { flex-direction: column; 
        padding-top: 10px;}
    .contact address a { margin-left: 10px;
        max-width: 40%;}
    .grid-item div { line-height: normal; }
    .grid-item { grid-column: span 8;}
    header h1 { padding: 5px;}
    nav a { font-size: 1rem;}
    .hero-banner h2 { font-size: 1rem;}
    span { border-bottom: 2px solid;
    padding-bottom: 0; }
    nav { padding-bottom: 5px; }
    h2 { font-size: 13px; }
}
/*end media queries*/